<h1>Efficiency Test</h1>
<ul id="log"></ul>
<script>
console.log = function(msg) {
  log.innerHTML += '<li>'+msg+'</li>';
}
</script>
<script src="/tmp/test1.js"></script>
<script src="compiled-test1.js"></script>

